In [1]:
# Import the dependencies.
import gmaps

In [2]:
# Import the dependencies.
import pandas as pd
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Voznesenskoye,RU,2020-08-01 03:49:34,54.89,42.76,57.96,82,59,4.61
1,1,Port Alfred,ZA,2020-08-01 03:49:34,-33.59,26.89,55.80,76,0,5.73
2,2,Arroyo,ES,2020-08-01 03:49:34,41.61,-4.80,64.99,72,28,3.36
3,3,Luwuk,ID,2020-08-01 03:49:34,-0.95,122.79,82.81,72,46,6.71
4,4,Jaisalmer,IN,2020-08-01 03:48:57,26.91,70.92,92.37,53,10,12.41

In [4]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
# Add a center and zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Luwuk,ID,2020-08-01 03:49:34,-0.95,122.79,82.81,72,46,6.71
8,8,Tura,IN,2020-08-01 03:47:10,25.52,90.22,87.84,68,72,1.83
12,12,Riyadh,SA,2020-08-01 03:46:11,24.69,46.72,89.60,27,0,3.65
14,14,Kalat,PK,2020-08-01 03:49:35,29.02,66.59,78.24,30,29,4.61
16,16,Ixtapa,MX,2020-08-01 03:48:47,20.70,-105.20,81.00,94,90,5.82
19,19,Qandala,SO,2020-08-01 03:49:36,11.47,49.87,89.47,52,65,11.14
22,22,Mahur,IN,2020-08-01 03:49:36,25.17,93.12,86.49,59,80,1.05
24,24,College,US,2020-08-01 03:49:36,64.86,-147.80,77.00,41,75,3.36
25,25,Kapaa,US,2020-08-01 03:45:40,22.08,-159.32,78.01,88,90,10.29
29,29,Butaritari,KI,2020-08-01 03:49:37,3.07,172.79,83.34,71,66,6.93

In [12]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
3        Luwuk      ID     82.81  -0.95  122.79
8         Tura      IN     87.84  25.52   90.22
12      Riyadh      SA     89.60  24.69   46.72
14       Kalat      PK     78.24  29.02   66.59
16      Ixtapa      MX     81.00  20.70 -105.20
19     Qandala      SO     89.47  11.47   49.87
22       Mahur      IN     86.49  25.17   93.12
24     College      US     77.00  64.86 -147.80
25       Kapaa      US     78.01  22.08 -159.32
29  Butaritari      KI     83.34   3.07  172.79

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Luwuk,ID,82.81,-0.95,122.79,Hotel Santika Luwuk
8,Tura,IN,87.84,25.52,90.22,Hotel RIKMAN Continental
12,Riyadh,SA,89.60,24.69,46.72,InterContinental Riyadh
14,Kalat,PK,78.24,29.02,66.59,Balochistan Hotel
16,Ixtapa,MX,81.00,20.70,-105.20,Container Inn Puerto Vallarta
19,Qandala,SO,89.47,11.47,49.87,
22,Mahur,IN,86.49,25.17,93.12,
24,College,US,77.00,64.86,-147.80,Pike's Waterfront Lodge
25,Kapaa,US,78.01,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
29,Butaritari,KI,83.34,3.07,172.79,Isles Sunset Lodge

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))